{% extends 'dashboard/t_dashboard.html' %}

{% block sub_body %}

{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Message:</strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}



        <center>
            <h1>Edit Question</h1>
        </center>
        <br>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="container">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"><h1 class="lead"><b>Question</b></h1></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="questionArea">{{ data.Question }}</textarea>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">


                                    <input type="radio" name="answer"
                                        aria-label="Radio button for following text input" value="optA" {% if data.ans == data.optA %} checked {% endif%}>


                                </div>
                                <span class="input-group-text" id="basic-addon1">Option 1</span>
                            </div>
                            <input name="optA" type="text" class="form-control" placeholder="Option 1" aria-label="Username"
                                aria-describedby="basic-addon1" for="optA" value="{{ data.optA }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">

                                    <input type="radio" name="answer"
                                        aria-label="Radio button for following text input" value="optB" {% if data.ans == data.optB %} checked {% endif%}>

                                </div>
                                <span class="input-group-text" id="basic-addon1">Option 2</span>
                            </div>
                            <input name="optB" type="text" class="form-control" placeholder="Option 2" aria-label="Username"
                                aria-describedby="basic-addon1" for="optB" value="{{ data.optB }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">

                                    <input type="radio" name="answer"
                                        aria-label="Radio button for following text input" value="optC" {% if data.ans == data.optC %} checked {% endif%}>

                                </div>
                                <span class="input-group-text" id="basic-addon1">Option 3</span>
                            </div>
                            <input name="optC" type="text" class="form-control" placeholder="Option 3" aria-label="Username"
                                aria-describedby="basic-addon1" for="optC" value="{{ data.optC }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">

                                    <input type="radio" name="answer"
                                        aria-label="Radio button for following text input" value="optD" {% if data.ans == data.optD %} checked {% endif%}>

                                </div>
                                <span class="input-group-text" id="basic-addon1">Option 4</span>
                            </div>
                            <input name="optD" type="text" class="form-control" placeholder="Option 4" aria-label="Username"
                                aria-describedby="basic-addon1" for="optD" value="{{ data.optD }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Difficulty Level</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" name="level">
                                    <option >Choose...</option>
                                    <option value="1" {% if data.level == 1%} selected {% endif %}>1</option>
                                    <option value="2" {% if data.level == 2%} selected {% endif %}>2</option>
                                    <option value="3" {% if data.level == 3%} selected {% endif %}>3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">IOE Mark</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" name="mark">
                                    <option selected>Choose...</option>
                                    <option value="1" {% if data.mark == 1%} selected {% endif %}>1</option>
                                    <option value="2" {% if data.mark == 2%} selected {% endif %}>2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <b>
                    <div class="input-group mb-9">
                        <label for="staticEmail" class="col-sm-2 col-form-label"><h1 class="lead"><b>Inserted by : </b></h1></label>
                        <div class="col-sm-2 col-form-label">
                            <h1 class="lead"><b>{{ request.user }}</b></h1>
                        </div>
                    </div>
                </b>
                    <br>
                    <center>
                        <a class="btn btn-primary btn-lg" href="/teacher/dashboard/selsubReview/" role="button">Back</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary btn-lg" type="submit" >Insert</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-danger btn-lg" href="/teacher/dashboard/deleteSelected/{{ QuesID }}">Delete</a>
                    </center>
                </form>
            </div>
        </div>
        </div>


{% endblock sub_body %}