{% extends 'base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block nav %}  {% endblock nav %}

{% block activeDash %} active {% endblock activeDash %}

{% block logactive %} disabled {% endblock logactive %}

{% block position %} disable; display:none {% endblock position %}

{% block activeDashbar %} {% endblock activeDashbar %}

{% block body %}

<style>
    .jumbotronMine {
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background-color: #D7D7D7;
    border-radius: 1rem;
}

.jumbotronBg {
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background-color: #BFBDBC;
    border-radius: 1rem;
}

.display-5 {
    -webkit-text-stroke-width: thin;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-55 {
    -webkit-text-stroke-width: thin;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    -webkit-text-stroke-width: thin;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}


</style>

<!--<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">-->
<!--    <center>-->
<!--        <img class="rounded" height="30px" src="{{request.user.userdetail.image.url}}" width="30px">-->
<!--        &nbsp;&nbsp;-->
<!--        <b>{{request.user}}</b>-->
<!--    </center>-->
<!--</nav>-->

<div class="container my-4">
    <div class="col">
        <a href="/home/dashboard">
            <h4><i class="fas fa-arrow-left"></i></h4>
        </a>
    </div>
    <br>
    <div class="jumbotron">
        <h1 class="display-55">1. General Instructions</h1>

        <hr class="my-4">
        <p>- You are about to begin a mock test.</p>
        <p>- The question pattern and the interface is same as the IOE entrance with same weightage.</p>
        <p>- There will be 100 questions.</p>
        <p>- The full marks is 140.</p>
        <p>- You will have 2 hours to complete the test.</p>
        <p>- Please review your answer before submitting.</p>
        <br>
        <center>
            <a class="btn btn-success btn-lg" href="mocktest" role="button">Start Test</a>
        </center>
    </div>
</div>
{% endblock body %}