{% extends 'dashboard/dashboard.html' %}

{% block position %} fixed {% endblock position %}

{% block sub_body %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Physics</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a class="btn btn-primary" href="/home/dashboard/resources/P">Physics</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">Chemistry</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a class="btn btn-primary" href="/home/dashboard/resources/C">Chemistry</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" >

                <div class="card-body">
                    <h5 class="card-title">Math</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a class="btn btn-primary" href="/home/dashboard/resources/M">Math</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" >

                <div class="card-body">
                    <h5 class="card-title">English</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a class="btn btn-primary" href="/home/dashboard/resources/E">English</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock sub_body %}