<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>jQuery Detect Change in Input Field</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
$(document).ready(function(){
    $("#myInput").on("input", function(){
        // Print entered value in a div box
        $("#result").text($(this).val());
        var textH = $('#myInput').val();
        console.log(textH);
        var postUrl = "http://127.0.0.1:8000/home/testLoadCache/";
        var postUrl1 = "http://127.0.0.1:8000/home/testWriteCache/";
        var selMark = $("#mark");
        var selLevel = $("#level");
        var optMark = selMark.options;
        var optLevel = selLevel.options;
        $.ajax({
            url: postUrl,
            type: 'POST',
            data: {'ans': textH},
            traditional: true,
            dataType: 'html',
            success: function(result){
                console.log('You are shit')
                }
        });

        $.ajax({
            url: postUrl1,
            type: 'GET',

            traditional: true,
            dataType: 'json',
            success: function(response){
                console.log('You are shit 2')
                console.log(response.mark)
                var temp = ''
                var temp = "<th scope='row'>2</th><td>"+response.mark+"</td><td>"+response.level+"</td>"
                $("#trHere").html(temp);
                $('#mark option:contains(' + response.mark + ')').prop({selected: true});
                $('#level option:contains(' + response.level + ')').prop({selected: true});
                }

        });


    });
});

    </script>
</head>
<body>
<p><input id="myInput" placeholder="Type something..." type="text"></p>
<div id="result"></div>
<br>
<select class="custom-select" id="mark" name="mark">
                                    <option selected>Choose...</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>

<select class="custom-select" id="level" name="level">
                                    <option selected>Choose...</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Mark</th>
        <th scope="col">Level</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
    </tr>
    <tr id="trHere">

    </tr>
    </tbody>

</table>

</body>
</html>