{% extends 'dashboard/t_dashboard.html' %}

{% block sub_body %}



    <center>
        <h1>Add Questions</h1>
        <hr>
        <h2>Select Subject</h2>
        <br>
        <div class="card-deck">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Physics</h5>
                    <p class="card-text">Details to follow.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="P" role="button">Physics</a>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Chemistry</h5>
                    <p class="card-text">Details to follow.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="C" role="button">Chemistry</a>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Math</h5>
                    <p class="card-text">Details to follow.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="M" role="button">Math</a>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">English</h5>
                    <p class="card-text">Details to FOllow</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="E" role="button">English</a>
                </div>
            </div>
        </div>



    </center>



{% endblock sub_body %}